html {
    background: linear-gradient(90deg, rgba(27,20,138,0.9612219887955182) 0%, rgba(157,100,128,1) 35%, rgba(87,150,185,1) 64%, rgba(0,212,255,1) 100%); 
}

/* img { 
    margin: auto;
  display: block;
}
*/
img {
    height: 600px;
    width: 600px;
    position: relative;
    left: 650px;
    top: 100px;
}

h2 {
    font-family: "Book Antiqua", sans-serif;
    color: darkslateblue;
    font-size: 50px;
    text-align: center;
    font-style: italic;
}